@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

::selection {
    background: #6d50e2;
    color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 40px 50px 40px 40px;
    background-image: url('/BTL_PHP/png/back-to-school.jpg');
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 
}

body {
    margin: 0;
}


.container .topic {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
   
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000; 
}

.content .list {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 50px;
    position: relative;
}

.content .list label {
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    color: #333;
    z-index: 12;
}

#diem:checked~.list label.diem,
#lich:checked~.list label.lich,
#dkmon:checked~.list label.dkmon,
#code:checked~.list label.code,
#about:checked~.list label.about {
    color: #fff;
}

.content .list label:hover {
    color: #6d50e2;
}

.content .slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: #6d50e2;
    transition: all 0.4s ease;
}

#diem:checked~.list .slider {
    top: 0;
}

#lich:checked~.list .slider {
    top: 60px;
}

#dkmon:checked~.list .slider {
    top: 120px;
}

#code:checked~.list .slider {
    top: 180px;
}

#about:checked~.list .slider {
    top: 240px;
}

.content .text-content {
    width: 80%;
    height: 100%;
}

.content .text {
    display: none;
}

.content .text .title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}

.content .text p {
    text-align: justify;
}

.content .text-content .diem {
    display: block;
}

#diem:checked~.text-content .diem,
#lich:checked~.text-content .lich,
#dkmon:checked~.text-content .dkmon,
#code:checked~.text-content .code,
#about:checked~.text-content .about {
    display: block;
}

#lich:checked~.text-content .diem,
#dkmon:checked~.text-content .diem,
#code:checked~.text-content .diem,
#about:checked~.text-content .diem {
    display: none;
}

span.title{
    color: #fff;
}
i.fas.fa{
    color: #fff;
}

a{
    text-decoration: none;
    color: red;
}

